// Percentage-based buffers

@mixin push-relative ($step: 1) {
  @include push-relative-horizontal($step);
  @include push-relative-vertical($step);
}

@mixin push-relative-even ($step: 1) {
  @include push-relative-horizontal($step);
  @include push-relative-vertical-even($step);
}



// Pane

@mixin push-relative-horizontal ($step: 1) {
  @include push-relative-left($step);
  @include push-relative-right($step);
}

@mixin push-relative-vertical ($step: 1) {
  @include push-relative-top($step);
  @include push-relative-bottom($step);
}

@mixin push-relative-vertical-even ($step: 1) {
  @include push-relative-top-even($step);
  @include push-relative-bottom($step);
}



// Single

@mixin push-relative-top ($step: 1) {
  margin-top: calc($step * $buffer-relative-tight);
}

@mixin push-relative-top-even ($step: 1) {
  margin-top: calc($step * $buffer-relative);
}

@mixin push-relative-right ($step: 1) {
  margin-right: calc($step * $buffer-relative);
}

@mixin push-relative-bottom ($step: 1) {
  margin-bottom: calc($step * $buffer-relative);
}

@mixin push-relative-left ($step: 1) {
  margin-left: calc($step * $buffer-relative);
}
