@mixin push-pad-tight ($step: 1) {
  @include push-pad-tight-vertical($step);
  @include push-pad-tight-horizontal($step);
}

@mixin push-pad-tight-vertical ($step: 1) {
  @include push-pad-tight-top($step);
  @include push-pad-tight-bottom($step);
}

@mixin push-pad-tight-horizontal ($step: 1) {
  @include push-pad-tight-left($step);
  @include push-pad-tight-right($step);
}

@mixin push-pad-tight-vertical-even ($step: 1) {
  @include push-pad-tight-top-even($step);
  @include push-pad-tight-bottom-even($step);
}

@mixin push-pad-tight-horizontal-even ($step: 1) {
  @include push-pad-tight-left-even($step);
  @include push-pad-tight-right-even($step);
}



@mixin push-pad-tight-top ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-tight-vertical);
  } @else {
    margin-top: calc($step * var(--pad-tight-vertical));
  }
}

@mixin push-pad-tight-bottom ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-tight-vertical);
  } @else {
    margin-bottom: calc($step * var(--pad-tight-vertical));
  }
}

@mixin push-pad-tight-left ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-tight-horizontal);
  } @else {
    margin-left: calc($step * var(--pad-tight-horizontal));
  }
}

@mixin push-pad-tight-right ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-tight-horizontal);
  } @else {
    margin-right: calc($step * var(--pad-tight-horizontal));
  }
}

@mixin push-pad-tight-top-even ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-tight-horizontal);
  } @else {
    margin-top: calc($step * var(--pad-tight-horizontal));
  }
}

@mixin push-pad-tight-bottom-even ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-tight-horizontal);
  } @else {
    margin-bottom: calc($step * var(--pad-tight-horizontal));
  }
}

@mixin push-pad-tight-left-even ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-tight-vertical);
  } @else {
    margin-left: calc($step * var(--pad-tight-vertical));
  }
}

@mixin push-pad-tight-right-even ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-tight-vertical);
  } @else {
    margin-right: calc($step * var(--pad-tight-vertical));
  }
}
