// colors.scss
$white-raw: $white !default;
$very-very-light-grey-raw: $very-very-light-grey !default;
$very-light-grey-raw: $very-light-grey !default;
$light-grey-raw: $light-grey !default;
$grey-raw: $grey !default;
$dark-grey-raw: $dark-grey !default;
$dark-raw: $dark !default;
$very-dark-raw: $very-dark !default;
$black-raw: $black !default;
$light-red-raw: $light-red !default;
$red-raw: $red !default;
$dark-red-raw: $dark-red !default;
$light-pink-raw: $light-pink !default;
$pink-raw: $pink !default;
$dark-pink-raw: $dark-pink !default;
$light-orange-raw: $light-orange !default;
$orange-raw: $orange !default;
$dark-orange-raw: $dark-orange !default;
$light-yellow-raw: $light-yellow !default;
$yellow-raw: $yellow !default;
$dark-yellow-raw: $dark-yellow !default;
$light-green-raw: $light-green !default;
$green-raw: $green !default;
$dark-green-raw: $dark-green !default;
$light-purple-raw: $light-purple !default;
$purple-raw: $purple !default;
$dark-purple-raw: $dark-purple !default;
$light-blue-raw: $light-blue !default;
$blue-raw: $blue !default;
$dark-blue-raw: $dark-blue !default;

// defaults.scss
$default-font-raw: $default-font !default;
$default-font-size-raw: $default-font-size !default;
$default-line-height-raw: $default-line-height !default;
$background-color-raw: $background-color !default;
$text-color-raw: $text-color !default;
$border-color-raw: $border-color !default;
$discreet-color-light-raw: $discreet-color-light !default;
$discreet-color-raw: $discreet-color !default;
$discreet-color-dark-raw: $discreet-color-dark !default;
$discreet-text-color-raw: $discreet-text-color !default;
$link-color-raw: $link-color !default;
$link-active-color-raw: $link-active-color !default;
$link-weight-raw: $link-weight !default;
$default-translucent-opacity-raw: $default-translucent-opacity !default;
$default-perspective-raw: $default-perspective !default;
$default-transition-duration-raw: $default-transition-duration !default;
$default-transition-easing-raw: $default-transition-easing !default;

// devices.scss
$android-phone-width-tight-raw: $android-phone-width-tight !default;
$android-phone-width-raw: $android-phone-width !default;
$android-phone-width-loose-raw: $android-phone-width-loose !default;
$android-phone-height-tight-raw: $android-phone-height-tight !default;
$android-phone-height-raw: $android-phone-height !default;
$android-phone-height-loose-raw: $android-phone-height-loose !default;
$android-tablet-width-tight-raw: $android-tablet-width-tight !default;
$android-tablet-width-raw: $android-tablet-width !default;
$android-tablet-width-loose-raw: $android-tablet-width-loose !default;
$android-tablet-height-tight-raw: $android-tablet-height-tight !default;
$android-tablet-height-raw: $android-tablet-height !default;
$android-tablet-height-loose-raw: $android-tablet-height-loose !default;

$iphone-4-width-raw: $iphone-4-width !default;
$iphone-5-width-raw: $iphone-5-width !default;
$iphone-6-width-raw: $iphone-6-width !default;
$iphone-6-plus-width-raw: $iphone-6-plus-width !default;
$ipad-width-raw: $ipad-width !default;
$ipad-pro-width-raw: $ipad-pro-width !default;
$iphone-4-height-raw: $iphone-4-height !default;
$iphone-5-height-raw: $iphone-5-height !default;
$iphone-6-height-raw: $iphone-6-height !default;
$iphone-6-plus-height-raw: $iphone-6-plus-height !default;
$ipad-height-raw: $ipad-height !default;
$ipad-pro-height-raw: $ipad-pro-height !default;

// dimensions.scss
$ldpi-raw: $ldpi !default;
$hdpi-raw: $hdpi !default;
$uhdpi-raw: $uhdpi !default;

$content-width-very-tight-raw: $content-width-very-tight !default;
$content-width-tight-raw: $content-width-tight !default;
$content-width-raw: $content-width !default;
$content-width-loose-raw: $content-width-loose !default;
$content-width-very-loose-raw: $content-width-very-loose !default;

$breakpoint-tiny-raw: $breakpoint-tiny !default;
$breakpoint-small-raw: $breakpoint-small !default;
$breakpoint-medium-raw: $breakpoint-medium !default;
$breakpoint-large-raw: $breakpoint-large !default;
$breakpoint-very-large-raw: $breakpoint-very-large !default;
$breakpoint-full-raw: $breakpoint-full !default;

$breakpoint-phone-tight-raw: $breakpoint-phone-tight !default;
$breakpoint-phone-raw: $breakpoint-phone !default;
$breakpoint-tablet-raw: $breakpoint-tablet !default;
$breakpoint-laptop-raw: $breakpoint-laptop !default;
$breakpoint-monitor-raw: $breakpoint-monitor !default;

// radius.scss
$radius-very-tight-raw: $radius-very-tight !default;
$radius-tight-raw: $radius-tight !default;
$radius-raw: $radius !default;
$radius-loose-raw: $radius-loose !default;
$radius-very-loose-raw: $radius-very-loose !default;
$round-raw: $round !default;

// rhythm.scss
$rhythm-tight-half-raw: $rhythm-tight-half !default;
$rhythm-tight-raw: $rhythm-tight !default;
$rhythm-base-raw: $rhythm-base !default;
$rhythm-loose-raw: $rhythm-loose !default;
$hairline-border-width-raw: $hairline-border-width !default;
$dashed-border-width-raw: $dashed-border-width !default;
$thick-border-width-raw: $thick-border-width !default;
$pad-tight-vertical-raw: $pad-tight-vertical !default;
$pad-tight-horizontal-raw: $pad-tight-horizontal !default;
$pad-vertical-raw: $pad-vertical !default;
$pad-horizontal-raw: $pad-horizontal !default;
$pad-loose-vertical-raw: $pad-loose-vertical !default;
$pad-loose-horizontal-raw: $pad-loose-horizontal !default;
$buffer-very-tight-raw: $buffer-very-tight !default;
$buffer-tight-raw: $buffer-tight !default;
$buffer-raw: $buffer !default;
$buffer-loose-raw: $buffer-loose !default;
$buffer-relative-tight-raw: $buffer-relative-tight !default;
$buffer-relative-raw: $buffer-relative !default;

// scrollbars.scss
$scrollbar-margin-raw: $scrollbar-margin !default;
$scrollbar-size-raw: $scrollbar-size !default;
$scrollbar-radius-raw: $scrollbar-radius !default;
$scrollbar-minlength-raw: $scrollbar-minlength !default;
$scrollbar-ff-width-raw: $scrollbar-ff-width !default;
$scrollbar-track-color-raw: $scrollbar-track-color !default;
$scrollbar-base-color-raw: $scrollbar-base-color !default;
$scrollbar-border-color-raw: $scrollbar-border-color !default;
$scrollbar-color-raw: $scrollbar-color !default;
$scrollbar-color-hover-raw: $scrollbar-color-hover !default;
$scrollbar-color-active-raw: $scrollbar-color-active !default;

// shadow.scss
$shadow-color-raw: $shadow-color !default;

$shadow-x-raw: $shadow-x !default;
$shadow-y-raw: $shadow-y !default;
$shadow-size-raw: $shadow-size !default;
$shadow-spread-raw: $shadow-spread !default;
$shadow-opacity-raw: $shadow-opacity !default;

$shadow-very-tight-x-raw: $shadow-very-tight-x !default;
$shadow-very-tight-y-raw: $shadow-very-tight-y !default;
$shadow-very-tight-size-raw: $shadow-very-tight-size !default;
$shadow-very-tight-spread-raw: $shadow-very-tight-spread !default;
$shadow-very-tight-opacity-raw: $shadow-very-tight-opacity !default;

$shadow-tight-x-raw: $shadow-tight-x !default;
$shadow-tight-y-raw: $shadow-tight-y !default;
$shadow-tight-size-raw: $shadow-tight-size !default;
$shadow-tight-spread-raw: $shadow-tight-spread !default;
$shadow-tight-opacity-raw: $shadow-tight-opacity !default;

$shadow-loose-x-raw: $shadow-loose-x !default;
$shadow-loose-y-raw: $shadow-loose-y !default;
$shadow-loose-size-raw: $shadow-loose-size !default;
$shadow-loose-spread-raw: $shadow-loose-spread !default;
$shadow-loose-opacity-raw: $shadow-loose-opacity !default;

$shadow-very-loose-x-raw: $shadow-very-loose-x !default;
$shadow-very-loose-y-raw: $shadow-very-loose-y !default;
$shadow-very-loose-size-raw: $shadow-very-loose-size !default;
$shadow-very-loose-opacity-raw: $shadow-very-loose-opacity !default;
$shadow-very-loose-spread-raw: $shadow-very-loose-spread !default;

$solid-shadow-width-raw: $solid-shadow-width !default;

// text.scss
$font-system-raw: $font-system !default;
$font-sans-raw: $font-sans !default;
$font-serif-raw: $font-serif !default;
$font-mono-raw: $font-mono !default;
$font-size-small-raw: $font-size-small !default;
$font-size-large-raw: $font-size-large !default;
$font-size-mono-raw: $font-size-mono !default;
$font-size-uppercase-raw: $font-size-uppercase !default;
$font-weight-thin-raw: $font-weight-thin !default;
$font-weight-regular-raw: $font-weight-regular !default;
$font-weight-semibold-raw: $font-weight-semibold !default;
$font-weight-bold-raw: $font-weight-bold !default;
$font-weight-black-raw: $font-weight-black !default;
$line-height-very-tight-raw: $line-height-very-tight !default;
$line-height-tight-raw: $line-height-tight !default;
$line-height-raw: $line-height !default;
$line-height-loose-raw: $line-height-loose !default;
$line-height-print-raw: $line-height-print !default;
$line-height-very-tight-em-raw: $line-height-very-tight-em !default;
$line-height-tight-em-raw: $line-height-tight-em !default;
$line-height-em-raw: $line-height-em !default;
$line-height-loose-em-raw: $line-height-loose-em !default;
$line-height-print-em-raw: $line-height-print-em !default;
$headline-font-raw: $headline-font !default;
$headline-weight-raw: $headline-weight !default;
$headline-line-height-raw: $headline-line-height !default;
$headline-line-height-em-raw: $headline-line-height-em !default;
$font-size-h1-raw: $font-size-h1 !default;
$font-size-h2-raw: $font-size-h2 !default;
$font-size-h3-raw: $font-size-h3 !default;
$font-size-h4-raw: $font-size-h4 !default;
$font-size-h5-raw: $font-size-h5 !default;
$font-size-h6-raw: $font-size-h6 !default;

// transitions.scss
$transition-very-very-fast-raw: $transition-very-very-fast !default;
$transition-very-fast-raw: $transition-very-fast !default;
$transition-fast-raw: $transition-fast !default;
$transition-medium-raw: $transition-medium !default;
$transition-slow-raw: $transition-slow !default;
$transition-slowish-raw: $transition-slowish !default;
$transition-very-slow-raw: $transition-very-slow !default;
$transition-very-very-slow-raw: $transition-very-very-slow !default;
$transition-properties-style-raw: $transition-properties-style !default;
$transition-properties-common-raw: $transition-properties-common !default;
$transition-properties-transform-raw: $transition-properties-transform !default;
$transition-properties-position-raw: $transition-properties-position !default;
$easing-none-raw: $easing-none !default;
$easing-ease-raw: $easing-ease !default;
$easing-snap-raw: $easing-snap !default;
$easing-bounce-raw: $easing-bounce !default;
$easing-smooth-raw: $easing-smooth !default;
