@mixin transition ($duration, $properties: var(--transition-properties-common), $delay: null) {
  transition-duration: $duration;

  @include transition-properties($properties);

  @if $delay {
    transition-delay: $delay;
  }

}

@mixin no-transition {
  transition-duration: 0ms;
}
