@mixin transition-hover {
  transition-duration: $transition-slow;
  &:focus,
  &:hover {
    transition-duration: $transition-fast;
  }
}

@mixin transition-active {
  transition-duration: $transition-slow;
  &:active {
    transition-duration: $transition-fast;
  }
}

@mixin transition-hover-active {
  transition-duration: $transition-slow;
  &:focus,
  &:hover,
  &:active {
    transition-duration: $transition-fast;
  }
}
