@mixin thick-border {
  border-width: var(--thick-border-width);
}

@mixin thick-border-top {
  border-top-width: var(--thick-border-width);
}

@mixin thick-border-bottom {
  border-bottom-width: var(--thick-border-width);
}

@mixin thick-border-left {
  border-left-width: var(--thick-border-width);
}

@mixin thick-border-right {
  border-right-width: var(--thick-border-width);
}
