// Color values
$white: #fff !default;
$very-very-light-grey: #f6f6f6 !default;
$very-light-grey: #ececec !default;
$light-grey: #dddddd !default;
$grey: #b6b6b6 !default;
$dark-grey: #6c6c6c !default;
$dark: #303030 !default;
$very-dark: #101010 !default;
$black: #000 !default;

$light-red: #ff9891 !default;
$red: #F44336 !default;
$dark-red: #B71C1C !default;

$light-pink: #fc72a0 !default;
$pink: #E91E63 !default;
$dark-pink: #880E4F !default;

$light-orange: #ffcd82 !default;
$orange: #FF9800 !default;
$dark-orange: #E65100 !default;

$light-yellow: #fff59f !default;
$yellow: #FFEB3B !default;
$dark-yellow: #F9A825 !default;

$light-green: #9ef1a1 !default;
$green: #42bd46 !default;
$dark-green: #1B5E20 !default;

$light-purple: #ea97f9 !default;
$purple: #9C27B0 !default;
$dark-purple: #4A148C !default;

$light-blue: #8fccff !default;
$blue: #2196F3 !default;
$dark-blue: #0D47A1 !default;
