// FIXME: should maybe be moved to sub sections
// FIXME: add --dark and --light variants that are NOT flipped per theme
:root {

  // Color usage
  // https://calcolor.co/palette/942409461
  --text-color: var(--very-strong-neutral, #222);
  --border-color: var(--faint-neutral, #ccc);
  --background-color: var(--very-very-very-faint-neutral, #fff);
  --offset-background-color: var(--very-very-faint-neutral, #eee);

  --discreet-color: var(--neutral, #999);
  --faint-discreet-color: var(--faint-neutral, #ccc);
  --very-faint-discreet-color: var(--very-faint-neutral, #ddd);
  --discreet-text-color: var(--discreet-color);

  --link-color: var(--blue, #1755ff);
  --link-active-color: var(--strong-blue, #003ce0);

  // Color usage in inverted elements (e.g. buttons and containers)
  // NOTE: this is NOT for dark mode
  // NOTE: for dark mode support, you should flip these variables also
  --inverted-text-color: var(--very-very-very-faint-neutral, #fff);
  --inverted-border-color: var(--strong-neutral, #444);
  --inverted-background-color: var(--very-very-strong-neutral, #111);
  --inverted-offset-background-color: var(--very-strong-neutral, #333);

  // NOTE: why are these commented out? Should we have these defined by default or rather not?
  // NOTE: we can also update --text-color using CSS locally

  // --inverted-discreet-color: var(--discreet-color);
  // --inverted-faint-discreet-color: var(--faint-discreet-color);
  // --inverted-very-faint-discreet-color: var(--very-faint-discreet-color);
  // --inverted-discreet-text-color: var(--inverted-discreet-color);

  // --inverted-link-color: var(--link-color);
  // --inverted-link-active-color: var(--link-active-color);
}
