// Color values
// NOTE: could use `-base` color variables that would just have the rgb codes as a list
// They can be used with `rgba()` to produce tranclucent versions
:root {
  --white: #fff;
  --very-very-light-grey: #f6f6f6;
  --very-light-grey: #ececec;
  --light-grey: #dddddd;
  --grey: #a7a7a7;
  --dark-grey: #6c6c6c;
  --dark: #303030;
  --very-dark: #101010;
  --black: #000;

  --light-red: #ff9891;
  --red: #F44336;
  --dark-red: #B71C1C;

  --light-pink: #fc72a0;
  --pink: #E91E63;
  --dark-pink: #880E4F;

  --light-orange: #ffcd82;
  --orange: #FF9800;
  --dark-orange: #E65100;

  --light-yellow: #fff59f;
  --yellow: #FFEB3B;
  --dark-yellow: #F9A825;

  --light-green: #9ef1a1;
  --green: #42bd46;
  --dark-green: #1B5E20;

  --light-purple: #ea97f9;
  --purple: #9C27B0;
  --dark-purple: #4A148C;

  --light-blue: #8fccff;
  --blue: #2196F3;
  --dark-blue: #0D47A1;
}
