// FIXME: should maybe be moved to sub sections
:root {

  // Color usage
  --text-color: var(--dark);
  --border-color: var(--light-grey);
  --background-color: var(--white);
  --offset-background-color: var(--very-very-light-grey);

  --discreet-color-very-light: var(--very-light-grey);
  --discreet-color-light: var(--light-grey);
  --discreet-color: var(--grey);
  --discreet-text-color: var(--discreet-color);

  --link-color: var(--blue);
  --link-active-color: var(--dark-blue);

  // Inverted color usage
  // NOTE: this is NOT for dark mode
  // NOTE: for dark mode support, you should update these variables
  --inverted-text-color: var(--white);
  --inverted-border-color: var(--dark-grey);
  --inverted-background-color: var(--very-dark);
  --inverted-offset-background-color: var(--dark);

  --inverted-discreet-color-very-light: var(--dark-grey);
  --inverted-discreet-color-light: var(--grey);
  --inverted-discreet-color: var(--grey);
  --inverted-discreet-text-color: var(--inverted-discreet-color);

  --inverted-link-color: var(--link-color);
  --inverted-link-active-color: var(--light-blue);



  // Text
  --default-font: var(--sans);
  --default-font-size: 16px;
  --default-line-height: var(--line-height);
  --link-weight: var(--regular);

  // Misc.
  --default-perspective: 600px;
  --default-transition-duration: var(--transition-fast);
  --default-transition-easing: ease; // Be careful with this
}
