// FIXME: should maybe be moved to sub sections
:root {

  // Text
  --default-font: var(--sans);
  --default-font-size: 16px;
  --default-line-height: var(--line-height);
  --link-weight: var(--regular);

  // Misc.
  --default-perspective: 600px;
  --default-transition-duration: var(--transition-fast);
  --default-transition-easing: ease; // Be careful with this
}
