// FIXME: should maybe be moved to sub sections
:root {

  // Color usage
  --text-color: var(--dark);
  --background-color: var(--white);
  --offset-background-color: var(--very-very-light-grey);
  --border-color: var(--light-grey);

  --discreet-color-very-light: var(--very-light-grey);
  --discreet-color-light: var(--light-grey);
  --discreet-color: var(--grey);
  --discreet-text-color: var(--discreet-color);

  --link-color: var(--blue);
  --link-active-color: var(--dark-blue);

  // Text
  --default-font: var(--sans);
  --default-font-size: 16px;
  --default-line-height: var(--line-height);
  --link-weight: var(--regular);

  // Misc.
  --default-perspective: 600px;
  --default-transition-duration: var(--transition-fast);
  --default-transition-easing: ease; // Be careful with this
}
