// Custom scrollbars
:root {
  --scrollbar-margin: 4px;
  --scrollbar-size: 4px;
  --scrollbar-radius: 2px;
  --scrollbar-track-color: transparent;

  // Minimum length of scrollbar thumb (width of horizontal, height of vertical)
  --scrollbar-minlength: 1.5rem;

  // FF-only accepts auto, thin, none
  --scrollbar-ff-width: thin;

  --scrollbar-border-color: transparent;
  --scrollbar-color: rgba(#888, 0.3);
  --scrollbar-color-hover: rgba(#888, 0.4);
  --scrollbar-color-active: rgba(#888, 0.5);
}
