// Custom scrollbars
:root {
  --custom-scrollbars-margin: 4px;
  --custom-scrollbars-size: 4px;
  --custom-scrollbars-radius: 2px;
  --custom-scrollbars-track-color: transparent;

  // Minimum length of scrollbar thumb (width of horizontal, height of vertical)
  --custom-scrollbars-minlength: 1.5rem;

  // FF-only accepts auto, thin, none
  --custom-scrollbars-ff-width: thin;

  --custom-scrollbars-border-color: transparent;
  --custom-scrollbars-color: rgba(#888, 0.3);
  --custom-scrollbars-color-hover: rgba(#888, 0.4);
  --custom-scrollbars-color-active: rgba(#888, 0.5);
}
