// Font families
$font-system: -apple-system, system-ui, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif !default;
$font-sans: $font-system !default;
$font-serif: 'Droid Serif', 'Georgia', serif !default;
$font-mono: 'SF Mono', 'Roboto Mono', 'Monaco', 'Menlo', 'Segoe UI Mono', 'Consolas', courier, monospace !default;

// Font sizing
$font-size-small: 0.75em !default;
$font-size-large: 1.25em !default;
$font-size-mono: 0.875em !default;
$font-size-uppercase: null !default;

// FOnt weights
$font-weight-thin: 200 !default;
$font-weight-regular: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

// Line heights
$line-height-very-tight: 1.2 !default;
$line-height-tight: 1.4 !default;
$line-height: 1.6 !default;
$line-height-loose: 2 !default;
$line-height-print: 1.5 !default;

$line-height-very-tight-em: $line-height-very-tight * 1em !default;
$line-height-tight-em: $line-height-tight * 1em !default;
$line-height-em: $line-height * 1em !default;
$line-height-loose-em: $line-height-loose * 1em !default;
$line-height-print-em: $line-height-print * 1em !default;

// Headline styling
$headline-font: null !default;
$headline-weight: null !default;
$headline-line-height: $line-height-very-tight !default;
$headline-line-height-em: $headline-line-height * 1em !default;

// Headings
$font-size-h1: 1.6em !default;
$font-size-h2: 1.4em !default;
$font-size-h3: 1.2em !default;
$font-size-h4: null !default;
$font-size-h5: null !default;
$font-size-h6: null !default;
