.DS_Store
node_modules
dist
.npm
coverage
sw.*

/css
/composables.js
/icons.js
/iconIds.js
/iconSheet.js
/node.js
/utils.js

# icons/ is a build dir
# Ignore build files, but not the source files:
!/icons/
/icons/**
!/icons/src/
!/icons/src/**
