// 1920/1080 = 16/9 = 1.77777778
@mixin dimensions ($width, $ratio: (16/9)) {
  width: $width;
  height: $width / $ratio;
}

// 1080/1920 = 9/16 = 0.5625
// @include dimensions-height(1080);
@mixin dimensions-height ($height, $ratio: (9/16)) {
  width: $height / $ratio;
  height: $height;
}
