@mixin gradient (
  $direction: 180deg,
  $color1: var(--very-strong-neutral),
  $color2: hsla(var(--very-strong-neutral-hsl), 0)
) {
  background-image: linear-gradient(
    $direction,
    $color1,
    $color2
  );
}

@mixin vertical-gradient (
  $color1: var(--very-strong-neutral),
  $color2: hsla(var(--very-strong-neutral-hsl), 0)
) {
  @include gradient(180deg, $color1, $color2);
}

@mixin reverse-vertical-gradient (
  $color1: var(--very-strong-neutral),
  $color2: hsla(var(--very-strong-neutral-hsl), 0)
) {
  @include gradient(0deg, $color1, $color2);
}

@mixin horizontal-gradient (
  $color1: var(--very-strong-neutral),
  $color2: hsla(var(--very-strong-neutral-hsl), 0)
) {
  @include gradient(90deg, $color1, $color2);
}

@mixin reverse-horizontal-gradient (
  $color1: var(--very-strong-neutral),
  $color2: hsla(var(--very-strong-neutral-hsl), 0)
) {
  @include gradient(270deg, $color1, $color2);
}

@mixin gradient-dark ($direction: 0deg, $opacity1: 0, $opacity2: 1) {
  @include gradient(
    $direction,
    hsla(var(--very-strong-neutral-hsl), $opacity1),
    hsla(var(--very-strong-neutral-hsl), $opacity2)
  );
}

@mixin gradient-white ($direction: 0deg, $opacity1: 0, $opacity2: 1) {
  @include gradient(
    $direction,
    hsla(var(--very-very-very-faint-neutral-hsl), $opacity1),
    hsla(var(--very-very-very-faint-neutral-hsl), $opacity2)
  );
}
