// Text context

// This is used for rich body text. Elements commonly used in building components, like links, are robbed of their sensible defaults. Attach this utility class on a body text container to style the rich text elements in a way that makes sense for natural article content.
:root {
  --bodytext-code-background-color: var(--offset-background-color);
  --bodytext-code-border-color: var(--border-color);
}

.bodytext {

  a,
  button {
    @include link;
  }

  b,
  strong {
    @include bold;
  }



  // Code

  code {
    @include radius-tight;
    @include pad-tight-horizontal;

    font-size: var(--font-size-mono);
    background-color: var(--bodytext-code-background-color);
    @include hairline-shadow(var(--bodytext-code-border-color));
  }

  pre {
    @include radius;
    @include pad-loose;
    border-width: 1px;
    background-color: var(--bodytext-code-background-color);

    code {
      @include no-radius;
      box-shadow: none;
      background-color: transparent;
    }
  }

  dt,
  h3,
  h4 {
    code {
      text-transform: none;
    }
  }



  // Lists

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding-left: 2em;

    ul,
    ol {
      margin-bottom: 0.8em;
    }

  }



  // Table

  table,
  th,
  td {
    border-width: 1px;
  }

  th,
  td {
    @include pad;
  }

}

.bodytext-with-line-breaks {
  white-space: pre-line;
}

.bodytext-discreet {
  @include discreet;
}



// Individual elements

.bodytext-link {
  @include link;
}

// Regular list content is sometimes wrapped in paragraphs
.bodytext-list-item {
  > p {
    @include no-push-vertical;
  }
}

// Heading levels
.bodytext-h1 {
  @include h1;
}

.bodytext-h2 {
  @include h2;
}

.bodytext-h3 {
  @include h3;
}

.bodytext-h4 {
  @include h4;
}

.bodytext-h5 {
  @include h5;
}

.bodytext-h6 {
  @include h6;
}
