// Double buffers

@mixin buffer-loose ($step: 1) {
  @include buffer-loose-horizontal($step);
  @include buffer-loose-vertical($step);
}

@mixin buffer-loose-even ($step: 1) {
  @include buffer-loose-horizontal($step);
  @include buffer-loose-vertical-even($step);
}



// Pane

@mixin buffer-loose-horizontal ($step: 1) {
  @include buffer-loose-left($step);
  @include buffer-loose-right($step);
}

@mixin buffer-loose-vertical ($step: 1) {
  @include buffer-loose-top($step);
  @include buffer-loose-bottom($step);
}

@mixin buffer-loose-vertical-even ($step: 1) {
  @include buffer-loose-top-even($step);
  @include buffer-loose-bottom($step);
}



// Single

@mixin buffer-loose-top ($step: 1) {
  padding-top: calc($step * var(--buffer));
}

@mixin buffer-loose-top-even ($step: 1) {
  padding-top: calc($step * var(--buffer-loose));
}

@mixin buffer-loose-bottom ($step: 1) {
  padding-bottom: calc($step * var(--buffer-loose));
}

@mixin buffer-loose-left ($step: 1) {
  padding-left: calc($step * var(--buffer-loose));
}

@mixin buffer-loose-right ($step: 1) {
  padding-right: calc($step * var(--buffer-loose));
}
