@mixin no-buffer {
  padding: 0;
}



// Pane

@mixin no-buffer-horizontal {
  padding-left: 0;
  padding-right: 0;
}

@mixin no-buffer-vertical {
  padding-top: 0;
  padding-bottom: 0;
}



// Single

@mixin no-buffer-top {
  padding-top: 0;
}

@mixin no-buffer-right {
  padding-right: 0;
}

@mixin no-buffer-bottom {
  padding-bottom: 0;
}

@mixin no-buffer-left {
  padding-left: 0;
}
