@mixin push-pad-loose ($step: 1) {
  @include push-pad-loose-vertical($step);
  @include push-pad-loose-horizontal($step);
}

@mixin push-pad-loose-vertical ($step: 1) {
  @include push-pad-loose-top($step);
  @include push-pad-loose-bottom($step);
}

@mixin push-pad-loose-horizontal ($step: 1) {
  @include push-pad-loose-left($step);
  @include push-pad-loose-right($step);
}

@mixin push-pad-loose-vertical-even ($step: 1) {
  @include push-pad-loose-top-even($step);
  @include push-pad-loose-bottom-even($step);
}

@mixin push-pad-loose-horizontal-even ($step: 1) {
  @include push-pad-loose-left-even($step);
  @include push-pad-loose-right-even($step);
}



@mixin push-pad-loose-top ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-loose-vertical);
  } @else {
    margin-top: calc($step * var(--pad-loose-vertical));
  }
}

@mixin push-pad-loose-bottom ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-loose-vertical);
  } @else {
    margin-bottom: calc($step * var(--pad-loose-vertical));
  }
}

@mixin push-pad-loose-left ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-loose-horizontal);
  } @else {
    margin-left: calc($step * var(--pad-loose-horizontal));
  }
}

@mixin push-pad-loose-right ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-loose-horizontal);
  } @else {
    margin-right: calc($step * var(--pad-loose-horizontal));
  }
}

@mixin push-pad-loose-top-even ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-loose-horizontal);
  } @else {
    margin-top: calc($step * var(--pad-loose-horizontal));
  }
}

@mixin push-pad-loose-bottom-even ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-loose-horizontal);
  } @else {
    margin-bottom: calc($step * var(--pad-loose-horizontal));
  }
}

@mixin push-pad-loose-left-even ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-loose-vertical);
  } @else {
    margin-left: calc($step * var(--pad-loose-vertical));
  }
}

@mixin push-pad-loose-right-even ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-loose-vertical);
  } @else {
    margin-right: calc($step * var(--pad-loose-vertical));
  }
}
