@mixin push-pad ($step: 1) {
  @include push-pad-vertical($step);
  @include push-pad-horizontal($step);
}

@mixin push-pad-vertical ($step: 1) {
  @include push-pad-top($step);
  @include push-pad-bottom($step);
}

@mixin push-pad-horizontal ($step: 1) {
  @include push-pad-left($step);
  @include push-pad-right($step);
}

@mixin push-pad-vertical-even ($step: 1) {
  @include push-pad-top-even($step);
  @include push-pad-bottom-even($step);
}

@mixin push-pad-horizontal-even ($step: 1) {
  @include push-pad-left-even($step);
  @include push-pad-right-even($step);
}



@mixin push-pad-top ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-vertical);
  } @else {
    margin-top: calc($step * var(--pad-vertical));
  }
}

@mixin push-pad-bottom ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-vertical);
  } @else {
    margin-bottom: calc($step * var(--pad-vertical));
  }
}

@mixin push-pad-left ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-horizontal);
  } @else {
    margin-left: calc($step * var(--pad-horizontal));
  }
}

@mixin push-pad-right ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-horizontal);
  } @else {
    margin-right: calc($step * var(--pad-horizontal));
  }
}

@mixin push-pad-top-even ($step: 1) {
  @if ($step == 1) {
    margin-top: var(--pad-horizontal);
  } @else {
    margin-top: calc($step * var(--pad-horizontal));
  }
}

@mixin push-pad-bottom-even ($step: 1) {
  @if ($step == 1) {
    margin-bottom: var(--pad-horizontal);
  } @else {
    margin-bottom: calc($step * var(--pad-horizontal));
  }
}

@mixin push-pad-left-even ($step: 1) {
  @if ($step == 1) {
    margin-left: var(--pad-vertical);
  } @else {
    margin-left: calc($step * var(--pad-vertical));
  }
}

@mixin push-pad-right-even ($step: 1) {
  @if ($step == 1) {
    margin-right: var(--pad-vertical);
  } @else {
    margin-right: calc($step * var(--pad-vertical));
  }
}
