// No pad

@mixin no-pad {
  @include no-pad-horizontal;
  @include no-pad-vertical;
}

@mixin no-pad-horizontal {
  @include no-pad-left;
  @include no-pad-right;
}

@mixin no-pad-vertical {
  @include no-pad-top;
  @include no-pad-bottom;
}

@mixin no-pad-top {
  padding-top: 0;
}

@mixin no-pad-right {
  padding-right: 0;
}

@mixin no-pad-bottom {
  padding-bottom: 0;
}

@mixin no-pad-left {
  padding-left: 0;
}
