@mixin shadow ($color: var(--shadow-color)) {
  box-shadow:
    var(--shadow-x)
    var(--shadow-y)
    var(--shadow-size)
    var(--shadow-spread)
    $color;
}

@mixin shadow-very-tight ($color: var(--shadow-color)) {
  box-shadow:
    var(--shadow-very-tight-x)
    var(--shadow-very-tight-y)
    var(--shadow-very-tight-size)
    var(--shadow-very-tight-spread)
    $color;
}

@mixin shadow-tight ($color: var(--shadow-color)) {
  box-shadow:
    var(--shadow-tight-x)
    var(--shadow-tight-y)
    var(--shadow-tight-size)
    var(--shadow-tight-spread)
    $color;
}

@mixin shadow-loose ($color: var(--shadow-color)) {
  box-shadow:
    var(--shadow-loose-x)
    var(--shadow-loose-y)
    var(--shadow-loose-size)
    var(--shadow-loose-spread)
    $color;
}

@mixin shadow-very-loose ($color: var(--shadow-color)) {
  box-shadow:
    var(--shadow-very-loose-x)
    var(--shadow-very-loose-y)
    var(--shadow-very-loose-size)
    var(--shadow-very-loose-spread)
    $color;
}



@mixin transparent-shadow {
  @include shadow(transparent);
}

@mixin transparent-shadow-very-tight {
  @include shadow-very-tight(transparent);
}

@mixin transparent-shadow-tight {
  @include shadow-tight(transparent);
}

@mixin transparent-shadow-loose {
  @include shadow-loose(transparent);
}

@mixin transparent-shadow-very-loose {
  @include shadow-very-loose(transparent);
}
