@mixin thin {
  font-weight: var(--thin);
}

@mixin regular {
  font-weight: var(--regular);
}

@mixin semibold {
  font-weight: var(--semibold);
}

@mixin bold {
  font-weight: var(--bold);
}

// FIXME: backwards-compatibility, to be removed
@mixin strong {
  @include bold;
}

@mixin heavy {
  font-weight: var(--heavy);
}
