body {
  font-family: var(--default-font, var(--sans, var(--system-font)));
  font-size: var(--default-font-size, 1em);
  line-height: var(--default-line-height);

  color: var(--text-color);
  background-color: var(--background-color);
}

// NOTE: we can simply provide transition-property to add default transitions to element
* {
  transition-property: none;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-easing);
}

// Element defaults
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
svg,
ins,
kbd,
q,
samp,
a,
small,
strong,
sub,
sup,
var,
i,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  border-color: var(--border-color);
  &:before,
  &:after {
    border-color: var(--border-color);
  }

  &:before,
  &:after {
    vertical-align: middle;
  }

}

strong,
dt,
mark,
th {
  font-weight: var(--bold);
}

blockquote,
q {
  font-family: var(--serif);
}

pre,
code,
kbd,
samp {
  font-family: var(--mono);
  font-size: var(--font-size-mono);
}

abbr[title],
dfn[title] {
  cursor: help;
  text-decoration-line: underline;
}
