@import '../../scss/shared.scss';

:root {

  /*
  *
  * Animation
  *
  */
  @include animation-alternate(foo-bar);
  @include animation-delay(100ms);
  @include animation-once(foo-bar);
  @include animation-once(foo-bar);
  @include pause-animation;
  @include play-animation;

  @include animation(foo-bar);
  @include animation(foo-bar, 100ms, ease, 4, alternate);
  @include no-animation-delay;
  @include no-animation;

  @include animation-easing(ease);
  @include animation-ease;
  @include animation-ease-in;
  @include animation-ease-out;
  @include animation-ease-in-out;
  @include animation-step-start;
  @include animation-step-end;
  @include animation-bounce;
  @include animation-smooth;
  @include animation-snap;
  @include no-animation-easing;

  /*
  *
  * Backgrounds
  *
  */
  @include background(red);
  @include background(red, '/background-image.jpg');
  @include background-color(red);
  @include background-image('/background-image.jpg');

  @include no-background;
  @include no-background-color;
  @include no-background-image;

  @include background-position(50px);
  @include background-position(50px, 50px);
  @include background-x(50px);
  @include background-y(50px);

  @include background-left;
  @include background-right;
  @include background-top;
  @include background-bottom;

  @include background-center;
  @include background-horizontal-center;
  @include background-vertical-center;

  @include background-top-left;
  @include background-top-center;
  @include background-top-right;
  @include background-bottom-left;
  @include background-bottom-center;
  @include background-bottom-right;

  @include background-repeat-gaps;
  @include background-repeat-stretch;
  @include background-repeat-x;
  @include background-repeat-y;
  @include no-background-repeat;

  @include background-contain;
  @include background-cover;
  @include background-stretch;
  @include background-stretch-height;
  @include background-stretch-width;

  /*
  *
  * Dimensions
  *
  */
  @include dimensions(100px);
  @include dimensions(100px, 2);
  @include dimensions-height(100px);
  @include dimensions-height(100px, 2);

  /*
  *
  * Pointer events
  *
  */
  @include pointer-events;
  @include no-pointer-events;

  /*
  *
  * Position
  *
  */
  @include static;
  @include relative;
  @include absolute;
  @include fixed;
  @include z(1);
  @include z(0);
  @include z(-1);

  /*
  *
  * Screen
  *
  */
  @include under-tiny { color: red; };
  @include under-or-at-tiny { color: red; };
  @include over-tiny { color: red; };
  @include over-or-at-tiny { color: red; };
  @include under-small { color: red; };
  @include under-or-at-small { color: red; };
  @include over-small { color: red; };
  @include over-or-at-small { color: red; };
  @include under-medium { color: red; };
  @include under-or-at-medium { color: red; };
  @include over-medium { color: red; };
  @include over-or-at-medium { color: red; };
  @include under-large { color: red; };
  @include under-or-at-large { color: red; };
  @include over-large { color: red; };
  @include over-or-at-large { color: red; };
  @include under-very-large { color: red; };
  @include under-or-at-very-large { color: red; };
  @include over-very-large { color: red; };
  @include over-or-at-very-large { color: red; };
  @include under-full { color: red; };
  @include under-or-at-full { color: red; };
  @include over-full { color: red; };
  @include over-or-at-full { color: red; };
  @include phone-tight { color: red; };
  @include phone { color: red; };
  @include tablet { color: red; };
  @include desktop { color: red; };
  @include laptop { color: red; };
  @include monitor { color: red; };
  @include under-desktop { color: red; };
  @include under-monitor { color: red; };
  @include over-monitor { color: red; };

  @include dark { color: red; }
  @include light { color: red; }

  @include hdpi { color: red; }
  @include under-hdpi { color: red; }
  @include ldpi { color: red; }
  @include under-ldpi { color: red; }
  @include uhdpi { color: red; }
  @include under-uhdpi { color: red; }

  @include screen-under-or-at(100px) { color: red; }
  @include screen-over-or-at(100px) { color: red; }
  @include screen-under(100px) { color: red; }
  @include screen-over(100px) { color: red; }

  @include screen-height-under-or-at(100px) { color: red; }
  @include screen-height-over-or-at(100px) { color: red; }
  @include screen-height-under(100px) { color: red; }
  @include screen-height-over(100px) { color: red; }

  @include not-print { color: red; }
  @include print { color: red; }
  @include screen { color: red; }

  @include not-print { color: red; }
  @include print { color: red; }
  @include screen { color: red; }

  @include portrait { color: red; }
  @include landscape { color: red; }

  /*
  *
  * Scrollbars
  *
  */
  @include scrollbar-color(red);
  @include scrollbar-color(red, yellow);
  @include dark-scrollbars;
  @include light-scrollbars;
  @include custom-scrollbars;

  /*
  *
  * Select
  *
  */
  @include select-all;
  @include select-text;
  @include no-select;

  /*
  *
  * Shadow
  *
  */
  @include shadow-very-loose;
  @include shadow-loose;
  @include shadow;
  @include shadow-tight;
  @include shadow-very-tight;

  @include shadow-very-loose(red);
  @include shadow-loose(red);
  @include shadow(red);
  @include shadow-tight(red);
  @include shadow-very-tight(red);

  @include transparent-shadow-very-loose;
  @include transparent-shadow-loose;
  @include transparent-shadow;
  @include transparent-shadow-tight;
  @include transparent-shadow-very-tight;

  @include hairline-shadow;
  @include transparent-hairline-shadow;

  @include solid-shadow;
  @include transparent-solid-shadow;

  @include no-shadow;

  /*
  *
  * Text
  *
  */
  @include discreet;
  @include link;
  @include label;
  @include h1;
  @include h2;
  @include h3;
  @include h4;
  @include h5;
  @include h6;

  @include italic;
  @include oblique;

  @include mono;
  @include serif;
  @include sans;
  @include system-font;
  @include headline-font;

  @include small-font;
  @include large-font;

  @include hyphens;
  @include no-hyphens;
  @include no-break;
  @include ellipsis;
  @include max-lines;
  @include max-lines(4);

  @include line-height(4);
  @include line-height-em(4);

  @include line-height;
  @include line-height-em;

  @include line-height-default;
  @include line-height-very-tight;
  @include line-height-tight;
  @include line-height-loose;
  @include line-height-very-loose;
  @include line-height-print;

  @include line-height-default-em;
  @include line-height-very-tight-em;
  @include line-height-tight-em;
  @include line-height-loose-em;
  @include line-height-very-loose-em;
  @include line-height-print-em;

  @include underline;
  @include underline(red);
  @include underline-color(red);
  @include strike-through;
  @include overline;

  @include no-text-decoration;
  @include no-text-decoration-style;
  @include no-text-decoration-color;

  @include one-line-height;
  @include no-line-height;

  @include thin;
  @include regular;
  @include semibold;
  @include bold;
  @include strong;
  @include heavy;

  /*
  *
  * Transitions
  *
  */

  @include transition-delay(100ms);
  @include transition-delay-very-very-fast;
  @include transition-delay-very-fast;
  @include transition-delay-fast;
  @include transition-delay-medium;
  @include transition-delay-slow;
  @include transition-delay-very-slow;
  @include transition-delay-very-very-slow;
  @include no-transition-delay;

  @include transition-duration(100ms);
  @include transition-very-very-fast;
  @include transition-very-fast;
  @include transition-fast;
  @include transition-medium;
  @include transition-slow;
  @include transition-very-slow;
  @include transition-very-very-slow;

  @include transition-enter;
  @include transition-leave;

  @include transition-easing(ease);
  @include transition-ease;
  @include transition-ease-in;
  @include transition-ease-out;
  @include transition-ease-in-out;
  @include transition-step-start;
  @include transition-step-end;
  @include transition-bounce;
  @include transition-smooth;
  @include transition-snap;
  @include no-transition-easing;

  @include transition-interaction;
  @include transition-hover;
  @include transition-focus;
  @include transition-active;
  @include transition-hover-active;
  @include transition-hover-focus;
  @include transition-focus-active;

  @include transition-properties(color, width);
  @include transition-properties-common;
  @include transition-properties-style;
  @include transition-properties-transform;
  @include transition-properties-position;
  @include no-transition-properties;

  @include transition(100ms);
  @include no-transition;

  /*
  *
  * Variables
  *
  */
  @include generate-css-vars((
    'iphone': $iphone,
    'iphone-height': $iphone-height
  ));

  @include generate-simple-colors((
    'blue': #0000ff
  ));

  @include generate-colors((
    'blue': (
      1: #0000aa,
      5: #0000cc,
      8: #0000ff
    )
  ));

  @include dark {
    @include generate-colors((
      'blue': (
        1: #0000aa,
        5: #0000cc,
        8: #0000ff
      )
    ));
  }

}
