@mixin border {
  border-width: var(--hairline-border-width);
}

@mixin border-top {
  border-top-width: var(--hairline-border-width);
}

@mixin border-bottom {
  border-bottom-width: var(--hairline-border-width);
}

@mixin border-left {
  border-left-width: var(--hairline-border-width);
}

@mixin border-right {
  border-right-width: var(--hairline-border-width);
}
