@import '../variables-scss/dimensions.scss';

:root {

  // Pixel ratios
  --ldpi: $ldpi;
  --hdpi: $hdpi;
  --uhdpi: $uhdpi;

  // Content-oriented defined paragraph widths
  --content-width-very-tight: $content-width-very-tight;
  --content-width-tight: $content-width-tight;
  --content-width: $content-width;
  --content-width-loose: $content-width-loose;
  --content-width-very-loose: $content-width-very-loose;
}
