// NOTE: see colors.scss to match colors
:root {
  --shadow-x: 0;
  --shadow-y: 2px;
  --shadow-size: 6px;
  --shadow-spread: 0;
  --shadow-color: rgba(48, 48, 48, 0.2);

  --shadow-very-tight-x: 0;
  --shadow-very-tight-y: 1px;
  --shadow-very-tight-size: 1px;
  --shadow-very-tight-spread: 0;
  --shadow-very-tight-color: rgba(48, 48, 48, 0.2);

  --shadow-tight-x: 0;
  --shadow-tight-y: 1px;
  --shadow-tight-size: 3px;
  --shadow-tight-spread: 0;
  --shadow-tight-color: rgba(48, 48, 48, 0.2);

  --shadow-loose-x: 0;
  --shadow-loose-y: 4px;
  --shadow-loose-size: 24px;
  --shadow-loose-spread: 0;
  --shadow-loose-color: rgba(48, 48, 48, 0.2);

  --shadow-very-loose-x: 0;
  --shadow-very-loose-y: 8px;
  --shadow-very-loose-size: 56px;
  --shadow-very-loose-spread: 0;
  --shadow-very-loose-color: rgba(48, 48, 48, 0.2);

  --solid-shadow-width: 4px;
  --solid-shadow-color: var(--shadow-color);
}
