@mixin discreet {
  color: var(--discreet-text-color);
}

@mixin link {
  color: var(--link-color);
  font-weight: var(--link-weight);

  &:hover,
  &:active {
    color: var(--link-active-color);
  }

}

@mixin label {
  @include small-font;
  // @include uppercase;
  @include bold;
}



// Headings

@mixin h1 {
  @include headline-font;
  font-size: var(--font-size-h1);
}

@mixin h2 {
  @include headline-font;
  font-size: var(--font-size-h2);
}

@mixin h3 {
  @include headline-font;
  font-size: var(--font-size-h3);
}

@mixin h4 {
  @include large-font;
  font-size: var(--font-size-h4);
}

@mixin h5 {
  @include h4;
  @include discreet;
  font-size: var(--font-size-h5);
}

@mixin h6 {
  @include discreet;
  font-size: inherit;
  font-size: var(--font-size-h6);
}
