@mixin mono {
  font-family: var(--mono);
}

@mixin serif {
  font-family: var(--serif);
}

@mixin sans {
  font-family: var(--sans);
}

@mixin system-font {
  font-family: var(--system-font);
}

@mixin headline-font {
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  line-height: var(--headline-line-height);
}
