@mixin line-height-tight {
  line-height: var(--line-height-tight);
}

@mixin line-height-default {
  line-height: var(--line-height);
}

@mixin line-height-loose {
  line-height: var(--line-height-loose);
}

@mixin no-line-height {
  line-height: 1;
}
