// Element defaults
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
svg,
ins,
kbd,
q,
samp,
a,
small,
strong,
sub,
sup,
var,
i,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border-width: 0;
  border-style: solid;
  text-decoration-style: solid;

  outline-width: 0;
  outline-style: solid;

  vertical-align: baseline;

  border-color: transparent;
  background: transparent;

  &:before,
  &:after {
    border-width: 0;
    border-style: solid;

    outline-width: 0;
    outline-style: solid;

    vertical-align: baseline;
    border-color: transparent;
    background: transparent;
  }
}
