fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

blockquote,
pre,
table,
form {
  margin: 0;
  padding: 0;
}

figure,
button,
input,
select,
textarea {
  margin: 0;
}

input {
  border-style: solid;
}

iframe,
canvas,
svg,
img,
video,
button,
input,
select,
textarea {
  max-width: 100%;
}

iframe,
img,
svg,
video {
  max-height: 100%;
}

iframe {
  display: block;
  width: 100%;
}
